$yellow-color:#ffcc00;
$subtitulo: 15px;
$small-font: 10px;
$font-bold: bold;
/*-------------LUGAR-------------*/
#home-sec {
    .lugar {
        width: 350px;
        padding: 15px 0;
        position: absolute;
        top:100px;
        z-index: 1000;
        background-color: #fff;
        
        .origen, .destino {
            font-size: $subtitulo;
            letter-spacing: 5px;
            margin-bottom: 5x;
            margin: 0 30px;
            font-weight: $font-bold;
        }
        select {
            font-weight: 200 !important;
        }
    }
    button {
        position: absolute;
        top:180px;
        z-index: 1000;
    }
    .form-control {
        border-color: $yellow-color;
    
    }
}

/*-------------VEHICULOS-------------*/
#carros_selec {
    .vehiculos {
        width: 350px;
        padding: 10px 0;
        position: absolute;
        top:330px;
        z-index: 1000;
        background-color: #fff;
        
        p {
            padding-top: 0;
            margin-bottom: 0;
        }
        small {
            font-size: $small-font;
        }
        .col-md-5 {
            padding: 0;
            width: 100px;
        }
        .cant {
            font-size: $subtitulo;  
            font-weight: $font-bold;
        }
        .pasajeros {
            width: 50px;
            border: 1px solid $yellow-color;
        }
        .cant_pas {
            padding: 10px 0 0 0 !important;
        }
        .tipo {
            font-weight: $font-bold;
        }
        .gap {
            margin-top: 15px;
        }
        .cant-row {
            padding: 0 !important;
        }
        .precio {
            width: 82px;          
            span {
                display: inline-block;
                color: $yellow-color;  
            }
            p {
                width: 40px;
                display: inline-block;
                color: $yellow-color;
                font-size: 18px;
                font-weight: $font-bold;
            }
        }
    }
    .selec {
        font-size: $subtitulo;
        letter-spacing: 5px;
        margin-bottom: 5px;
        margin: 0 30px;
        font-weight: $font-bold;
    }
    .row {
        padding: 0 !important;
        margin: 0 10px !important;
    }
    .car {
        width: 40px;
    }
    button {
        position: absolute;
        top:270px;
        z-index: 1000;
    }
}


